body {
    background-color: #419999;
    height: 100vh;
    height: 100dvh;
}

#calendar {
    height: 80%;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    overflow: hidden;
    border: 4px solid #226060;
    background-color: #226060;
    border-radius: 10px;
    margin: 50px auto auto;
}

.box {
    background-color: #F4CF3A;
}

.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50px;
}

h1.title {
    font-size: 28px;
    font-weight: 800;
    color: #226060;
}

.month-nav {
    background-color: #226060;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 30%;
    max-width: 120px;
    border-radius: 15px;
}

.prev, .next {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #226060;
    background-color: white;
    border-radius: 50%;
    width: 20px;
}

.box-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.label, .dates {
    gap: 5px;
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(7, minmax(30px, 1fr));
    place-items: center;
}

.label {
    height: 35px
}

.dates {
    flex: 1;
    background-color: #F0F1F0;
}

.cell {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-number {
    color: #226060;
}

@media only screen and (max-width: 418px) {
    .label {
        font-size: 14px;
    }
}

.green-box {
    position: relative;
}

.booked {
    position: absolute;
}

.submit {
    background-color: transparent;
    height: 50px;
    width: 50px;
}