body {
    background-color: #419999;
    height: 100vh;
    height: 100dvh;
}

.reserve-banner {
    background-color: #226060;
    padding: 3px 15px;
    position: fixed;
    left: 30px;
    border-radius: 0 0 10px 10px;
}

#calendar {
    height: 85%;
    min-height: 350px;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    overflow: hidden;
    border: 4px solid #226060;
    background-color: #226060;
    border-radius: 10px;
    margin: 50px auto auto;
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-basis: 50px;
    background-color: #F4CF3A;
}

.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

h1.title {
    font-size: 28px;
    font-weight: 800;
    color: #226060;
}

.month-nav {
    background-color: #226060;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 30%;
    max-width: 120px;
    border-radius: 15px;
}

.prev, .next {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #226060;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: background-color 0.05s,
        color 0.05s;
}

.box-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.label, .dates {
    gap: 5px;
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(7, minmax(30px, 1fr));
    place-items: center;
}

.label {
    height: 35px;
}

.dates {
    flex: 1;
    background-color: #F0F1F0;
}

.cell {
    height: 100%;
    min-height: 45px;
    width: 100%;
    display: flex;
}

.hasOpen, .hasBooked {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.hasOpen {
    background-color: #00BF63;
}

.hasBooked {
    background-color: #FF0007;
}

.submit {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 3px solid #F0F1F0;
    transition: background-color 0.05s;
}

.hasOpen .submit {
    color: #00BF63;
    background-color: #F0F1F0;
}

.hasBooked .submit {
    color: #FF0007;
    background-color: #F0F1F0;
}

.green-box + .day-number {
    color: white;
}

.day-number {
    padding-left: 5px;
    align-self: center;
    color: #226060;
}


@media only screen and (max-width: 418px) {
    .label {
        font-size: 14px;
    }
}

.past {
    background-color: #CCCCCC;
}

.reservation_form {
    background-color: #FFDE59;
    width: 90%;
    height: 90%;
    z-index: 3000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.reservation_form * {
    color: #226060;
    font-family: "Montserrat", sans-serif;
}

.reservation-header {
    flex: 0 1 90px;
    display: flex;
    background-color: #226060;
}

.reservation-header * {
    color: white;
}

.form-first-half, .form-second-half {
    display: flex;
    align-items: center;
    flex: 1;
}

.form-first-half {
    padding-left: 20px;
}

.form-first-half h1 {
    font-size: clamp(18px, 2vw, 35px);
    text-wrap: nowrap;
}

.form-second-half p {
    text-align: center;
    margin: auto;
    text-wrap: nowrap;
    background-color: #4CABAB;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: clamp(14px, 2vw, 22px);
    font-weight: 700;
}

.logos {
    margin-top: 6px;
    margin-right: 10px;
    width: clamp(55px, 10vw, 65px);
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
}

.close-btn:hover {
    background-color: #FF0007;
}

.reservation-body {
    height: calc(100% - 170px);
    column-gap: 30px;
    padding: 30px;
    display: flex;
    overflow-y: auto;
}

.name, .price {
    text-wrap: nowrap;
}

.name {
    display: flex;
    column-gap: 10px;
}

.first-name, .last-name {
    flex: 1;
}

/* Sizing for each input */
.name input, .price input, .email-text {
    width: 100%;
}

.select-text {
    width: 55%;
    min-width: 160px;
}

.inclusion-text {
    min-width: 145px;
    width: 60%;
}

.contact-text {
    width: 57%;
    min-width: 150px;
}

.reservation-body label {
    font-weight: bold;
}

.reservation-body input, .reservation-body select {
    padding: 8px 5px;
    border-radius: 0;
    border: 2px solid #226060;
}

.reservation-footer {
    flex: 0 1 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitReservation {
    text-transform: uppercase;
    padding: 10px 35px;
    font-weight: bold;
    color: white;
    font-size: clamp(20px, 2vw, 25px);
}

.green-box {
    display: flex;
    justify-content: end;
    align-items: end;
}


.legends {
    flex-basis: 40px;
    display: flex;
    align-items: center;
}

.legends p {
    background-color: #F0F1F0;
    color: #226060;
    font-family: 'Spotify Bold';
    margin-left: 10px;
    font-size: 14px;
    border-radius: 10px;
    padding: 2px 20px 2px 35px;
    position: relative;
}

.legends p::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 3px;
    left: 5px;
}

.available::before {
    background-color: #00BF63;
}

.reserved::before {
    background-color: #FF0007;
}
 

@media only screen and (min-width: 992px) {
    .open .submit:hover {
        background-color: #00BF63;
    }
    .booked .submit:hover {
        background-color: #FF0007;
    }

    .first-column, .second-column {
        flex: 1;
    }

    .form-group {
        height: 70px;
    }
    
    .price input {
        width: 50%;
    }

    .reservation-footer {
        background-color: #226060;
    }

    .submitReservation {
        border: 6px solid white;
        background-color: #E1B500;
        border-radius: 40px;
        transition: background-color 0.05s;
    }

    .submitReservation:hover {
        color: #E1B500;
        background-color: #F0F1F0;
    }

    .prev:hover, .next:hover {
        background-color: #F4CF3A;
        color: #F0F1F0;
    }

    .hasOpen .submit:hover {
        background-color: #00BF63;
        color: #F0F1F0;
    }
    
    .hasBooked .submit:hover {
        background-color: #FF0007;
        color: #F0F1F0;
    }
}


@media only screen and (max-width: 991px) {
    ul.label li span {
        display: none;
    }

    .reservation-header {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form-first-half, .form-second-half {
        margin: auto;
    }

    .form-first-half h1 {
        padding-right: 60px;
    }

    .form-second-half p {
        margin-bottom: 15px;
    }

    .reservation-body {
        flex-direction: column;
    }

    .price {
        column-gap: 10px;
    }

    .submitReservation {
        background-color: #226060;
        border: none;
    }

    .submitReservation:active {
        color: #226060;
        background-color: #F0F1F0;
    }

    .prev:active, .next:active {
        background-color: #F4CF3A;
        color: #F0F1F0;
    }

    .hasOpen .submit:active {
        background-color: #FF0007;
        color: #F0F1F0;
    }
    
    .hasBooked .submit:active {
        color: #FF0007;
        background-color: #F0F1F0;
    }
}

@media only screen and (min-width: 380px) and (max-width: 991px) {
    .price {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


