@media only screen and (max-width: 767px) {
  body {
    align-items: flex-end;
  }
  
  .login-form {
    background-image: linear-gradient(var(---dark-blue) 50%, var(---light-blue) 80%);
  }

  .sun {
    right: 25%;
    top: -45px;
  }

  /*Trees placement*/
  .tree-1, .tree-2 {
    top: -205px;
    right: 25%;
  }

  .tree-1 {
    transform: translateX(80px);
  }
  
  .tree-2 {
    transform: rotate(-12deg);
  
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    align-items: flex-end;
  }
  
  .login-form {
    background-image: linear-gradient(var(---dark-blue) 50%, var(---light-blue) 80%);
  }

  .sun {
    right: 25%;
    top: -45px;
  }

  .tree-1, .tree-2 {
    top: -205px;
    right: 25%;
  }

  .tree-1 {
    transform: translateX(90px);
  }
  
  .tree-2 {
    transform: rotate(-10deg);
  }
}

@media only screen and (min-width: 992px) { 
 body {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .login-form {
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; 
    background: linear-gradient(rgba(61, 112, 128, 0.6) 50%, rgba(0, 151, 178, 0.6) 80%);
  }

  .sun {
    right: 70px;
    bottom: -10px;
  }

  .tree-1 {
    transform: rotate(5deg);
    left: -20px;
    bottom: 20px;
  }
  
  .tree-2 {
    transform: rotate(-20deg);
    right: -20px;
    bottom: -20px;
  }

  .tree-pos-2, .tree-pos {
    width: 140px;
  }
}

@font-face {
  font-family: "Spotify Bold";
  src: url("../fonts/CircularSpotifyText-Bold.otf");
}

@font-face {
  font-family: "Spotify Black";
  src: url("../fonts/CircularSpotifyText-Black.otf");
}

@font-face {
  font-family: "Spotify Medium";
  src: url("../fonts/CircularSpotifyText-Medium.otf");
}

@font-face {
  font-family: "Spotify Book Italic";
  src: url("../fonts/CircularSpotifyText-BookItalic.otf");
}

:root {
  ---dark-blue: #3D7080;
  ---light-blue: #0097B2;
  ---yellow: #F4D248;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layering of Items */
.username-field, .password-field, .forgot, .login{
  z-index: 10;
}

.custom-shape-divider-bottom-1717433957, .login-form::before { 
  z-index: 8;
}

.tree-1, .tree-2 {
  z-index: 6;
}

.sun {
  z-index: 4;
}

@media only screen and (max-width: 991px) {
  .custom-shape-divider-bottom-1717433957, .login-form::before { 
    z-index: -4;
  }
  
  .tree-1, .tree-2 {
    z-index: -6;
  }
  
  .sun {
    z-index: -8;
  }
}


body {
  background-image: url('../images/login-bg-2.png');
  background-position: -25px 20px;
  background-size: cover;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  position: relative;
}

input {
  font-family: "Spotify Medium";
  caret-color: var(---dark-blue);
}

.login-form {
  width: 40%;
  text-align: center;
  flex: 1;
  height: 50%;
  position: relative;
  padding: 10px;
}

.login-form::before {
  content: '';
  position: absolute;
  background-color: var(---dark-blue);
}

.login-form .field {
  padding-right: 2.2em;
}

.login-form input:focus {
  outline-width: 0.5px;
  outline-color: var(---dark-blue);
}

.logo {
  width: clamp(150px, 25vw, 220px);
  margin-bottom: 30px;
}

.username-field, .password-field {
  margin-bottom: 15px;
}

.username, .password, .submit-btn {
  font-size: clamp(12px, 2vw, 15px);
  border-radius: 2.5em;
  padding: 0.5em 0.8em;
  border: none;
}

.username, .password {
  color: var(---dark-blue);
  height: 45px;
  width: 80%;
  max-width: 500px;
  letter-spacing: 1.5px;
}

.username::placeholder, .password::placeholder {
  color: rgb(148, 147, 147);
  font-family: 'Spotify Black';
}

input[type='password'] {
  font-family: 'Arial';
}

.password {
  margin-bottom: 20px;
  padding-right: 40px;
}

.show-pass {
  cursor: pointer;
  position: relative;
}

.show-pass-toggle {
  position: absolute;
  left: -9999px;
}

.bx-hide, .bx-show {
  font-size: 20px;
  margin-right: 5px;
}

.passwordState {
  color: #354550;
  position: absolute;
  right: 7px;
  bottom: -2px;
}

.submit-btn {
  background-color: var(---yellow);
  color: white;
  font-family: 'Spotify Black';
  letter-spacing: 5px;
  width: 50%; 
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 150px;
  max-width: 220px;
}

.forgot {
  margin-bottom: 10px;
}

.forgot-redirect {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 8px;
  font-family: 'Spotify Medium';
  letter-spacing: 3px;
}

/* Tree icon */
.tree-1, .tree-2 {
  position: absolute;
}

.tree-pos-2 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Sun icon */
.sun {
  position: absolute;
  width: 3em;
  height: 3em;
  background-color: var(---yellow);
  border-radius: 50%;
  transform: scale(1.5);
}

.sun::before, .sun::after {
  content: '';
  position: absolute;
  border-radius: 50%; 
}

.sun::before {
  background-color: rgba(244, 210, 72, 0.4);
  width: 4em;
  height: 4em;
  top: -7px;
  right: -7px;
}

.sun::after {
  background-color: rgba(244, 210, 72, 0.2);
  width: 5em;
  height: 5em;
  top: -15px;
  right: -15px;
}

/* Curved border svg */
.custom-shape-divider-bottom-1717433957 {
  position: absolute;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg) scaleX(-1);
}

.custom-shape-divider-bottom-1717433957 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px); 
}

.custom-shape-divider-bottom-1717433957 .shape-fill {
  fill: #3D7080;
}

/* Responsiveness of Curved border*/
@media only screen and (max-width: 350px) and (max-width: 620px){
  .custom-shape-divider-bottom-1717433957 {
    top: -85px;
    left: 0;
    width: 100%;
  }
  
  .custom-shape-divider-bottom-1717433957 svg {
    height: 85px;
  }  
}

@media only screen and (min-width: 351px) and (max-width: 620px) {
  .custom-shape-divider-bottom-1717433957 {
    top: -109px;
    left: 0;
    width: 100%;
  }
  
  .custom-shape-divider-bottom-1717433957 svg {
    height: 110px;
  }  
}

@media only screen and (min-width: 621px) and (max-width: 767px) {
  .custom-shape-divider-bottom-1717433957 {
    top: -128px;
    left: 0;
    width: 100%;
  }
  
  .custom-shape-divider-bottom-1717433957 svg {
    height: 130px;
  }  
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .custom-shape-divider-bottom-1717433957 {
    top: -148px;
    left: 0;
    width: 100%;
  }
  
  .custom-shape-divider-bottom-1717433957 svg {
    height: 150px;
  }  
}

@media only screen and (min-width: 992px) {
  .custom-shape-divider-bottom-1717433957 {
    bottom: 20px;
    left: 0;
    width: 100%;
  }
  
  .login-form::before {
    width: 100%;
    height: 40px;
    background-color: #3D7080;
    bottom: -20px;
    left: 0;
  }

  .custom-shape-divider-bottom-1717433957 svg {
    height: 100px;
  }  
}

dialog {
  text-align: center;
  color: var(---dark-blue);
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 70%;
  height: 30%;
  max-width: 400px;
  min-height: 200px;
  border-radius: 30px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Spotify Medium';
}

.exit {
  color: var(---dark-blue);
  cursor: pointer;
  font-family: 'Spotify Bold';
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding-top: 5px;
}

.exit:focus {
  outline-color: var(---yellow);
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}