body {
    background-color: #419999;
    height: 100vh;
    height: 100dvh;
}

.reserve-banner {
    font-family: 'Spotify Bold';
    background-color: #226060;
    padding: 3px 15px;
    position: absolute;
    left: 30px;
    border-radius: 0 0 10px 10px;
}

#calendar {
    font-weight: bold;
    min-height: 485px;
    height: 85%;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    overflow: hidden;
    border: 4px solid #226060;
    background-color: #226060;
    border-radius: 10px;
    margin: 50px auto auto;
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex: 0 1 70px;
    background-color: #F4CF3A;
}

.header {
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

h1.title {
    font-size: 35px;
    font-weight: 800;
    color: #226060;
}

.month-nav {
    background-color: #226060;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 30%;
    max-width: 130px;
    border-radius: 35px;
}

.prev, .next {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #226060;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: background-color 0.05s,
        color 0.05s;
}

.box-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.label, .dates {
    gap: 5px;
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(7, minmax(30px, 1fr));
    place-items: center;
}

.label {
    height: 35px;
}

.dates {
    flex: 1;
    background-color: #F0F1F0;
}

.cell {
    height: 100%;
    min-height: 55px;
    width: 100%;
    display: flex;
}

.hasOpen, .hasBooked {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.hasOpen {
    background-color: #00BF63;
}

.hasBooked {
    background-color: #FF3A40;
}

.submit {
    cursor: pointer;
    height: clamp(18px, 2.5vw, 30px);
    width: clamp(18px, 2.5vw, 30px);
    border-radius: 50%;
    border: none;
    transition: background-color 0.05s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book, .del {
    font-size: clamp(12px, 2vw, 20px);
}

.book {
    color: #00BF63;
}   

.del {
    color: #FF3A40;    
}

.green-box + .day-number {
    color: white;
}

.day-number {
    font-size: clamp(12px, 3vw, 20px);
    padding-left: min(5%, 5px);
    align-self: center;
    color: #226060;
}


@media only screen and (max-width: 418px) {
    .label {
        font-size: 14px;
    }
}

.past {
    background-color: #CCCCCC;
}

.reservation_form {
    overflow: hidden;
    background-color: #FFDE59;
    width: 90%;
    max-height: 90%;
    z-index: 3000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.reservation_form * {
    color: #226060;
    font-family: "Montserrat", sans-serif;
}

.reservation-header {
    flex: 0 1 70px;
    display: flex;
    background-color: #226060;
}

.reservation-header * {
    color: white;
}

.form-first-half, .form-second-half {
    display: flex;
    align-items: center;
    flex: 1;
}


.form-first-half {
    padding-left: 20px;
}

.form-first-half h1 {
    font-size: clamp(19px, 2vw, 35px);
    text-wrap: nowrap;
}

.form-second-half p {
    text-align: center;
    margin: auto;
    text-wrap: nowrap;
    background-color: #4CABAB;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: clamp(12px, 2vw, 22px);
    font-weight: 700;
}

.logos {
    margin-top: 6px;
    margin-right: 10px;
    width: clamp(50px, 10vw, 65px);
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
}

.reservation-body {
    flex: 1;
    position: relative;
    height: calc(100% - 170px);
    padding: min(5%, 40px);
    display: flex;
    gap: 0.9375em;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
}


.first-column, .second-column {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex: 1 1 auto;
}

.price, .name {
    display: grid;
    row-gap: 15px;
    text-wrap: nowrap;
}

.first-name, .last-name {
    flex: 1;
}

/* Sizing for each input */
input {
    width: 100%;
}

.first, .last {
    width: 70%;
}

.select-text {
    width: 55%;
}

.inclusion-text {
    width: 60%;
}

.contact-text {
    width: 82%;
}

.reservation-body label {
    font-weight: bold;
    font-size: 1em;
}

.reservation-body input, .reservation-body select {
    padding: 8px 5px;
    border-radius: 0;
    border: 2px solid #226060;
}

.submitContainer {
    padding: 10px 30px;
}

.submitReservation {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 35px;
    font-weight: bold;
    color: white;
    font-size: clamp(20px, 2vw, 25px);
    background-color: #226060;
    border: none;
}

.leaves-1, .leaves-2 {
    width: clamp(220px, 50vw, 670px);
    position: absolute;
    opacity: 0.25;
    z-index: -1;
}

.leaves-1 {
    transform: scale(-1, -1);
}

.leaves-2 {
    right: 0;
    bottom: 0;
}

.green-box {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: min(5%, 5px);
    padding-bottom: min(5%, 5px);
}

.legends {
    padding: 10px 5px 5px;
    display: flex;
    column-gap: 5px;
}

.legends p::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 3px;
    left: 5px;
}

.legends p {
    background-color: #F0F1F0;
    color: #226060;
    font-family: 'Spotify Bold';
    margin-right: 10px;
    font-size: 14px;
    border-radius: 10px;
    padding: 2px 20px 2px 35px;
    position: relative;
}

.available::before {
    background-color: #00BF63;
}

.reserved::before {
    background-color: #FF3A40;
}

.deleteReserve, .bookReserve {
    display: flex;
    align-items: center;
}

.right-side span {
    margin-right: 3px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(16px, 2vw, 22px);
    height: clamp(16px, 2vw, 22px);
    background-color:#E0E8DF;
    border-radius: 50%;
    overflow: hidden;
}
 
.legend-book, .legend-del {
    font-size: clamp(14px, 2vw, 18px);
}

.legend-book {
    color: #00BF63;
}

.legend-del {
    color:#FF3A40;
}

@media only screen and (min-width: 992px) {    
    .price input {
        width: 50%;
    }

    .submitContainer {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: end;
    }

    .close-btn:hover {
        background-color: #FF3A40;
    }

    .submitReservation:hover {
        color: #226060;
        background-color: #F0F1F0;
    }

    .prev:hover, .next:hover {
        background-color: #F4CF3A;
        color: #F0F1F0;
    }

    .hasOpen .submit:hover {
        background-color: #04723D;
    }
    
    .hasBooked .submit:hover, .submit:hover .del {
        background-color: #B6050A;
    }

    .submit:hover .del, .submit:hover .book {
        color: white;
    }
}


@media only screen and (max-width: 991px) {
    h1.title {
        font-size: 25px;
    }

    .prev, .next {
        width: 20px;
        height: 20px;
    }
    
    ul.label li span {
        display: none;
    }

    .reservation-body {
        font-size: 14px;
    }

    .close-btn:active {
        background-color: #FF3A40;
    }

    .submitContainer {
        text-align: center;
    }

    .submitReservation:active {
        color: #226060;
        background-color: #F0F1F0;
    }

    .reservation-header {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .name {
        display: flex;
        column-gap: 10px;
    }

    .name input {
        flex: 1;
        width: 100%;
    }

    .form-first-half, .form-second-half {
        margin: auto;
    }

    .form-first-half h1 {
        padding-right: 60px;
    }

    .form-second-half p {
        margin-bottom: 15px;
    }

    .price {
        column-gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .prev:active, .next:active {
        background-color: #F4CF3A;
        color: #F0F1F0;
    }

    .hasOpen .submit:active {
        background-color: #04723D;
    }
    
    .hasBooked .submit:active, .submit:active .del {
        background-color: #B6050A;
    }

    .submit:active .del, .submit:active .book {
        color: white;
    }
}



