body {
  overflow: hidden;
  background-color: rgb(65, 153, 153);
  height: 100vh;
  height: 100dvh;
}

.change-password-form * {
  font-family: 'Montserrat', sans-serif;
}

.change-password-wrapper {
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  background-color: #296D6D;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.form-header {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-basis: 100px;  
  background-color: #226060;
}

.form-header h2 {
  font-weight: 600;
  font-size: clamp(12px, 4vw, 20px);
}

.form-body {
  flex-grow: 1;
  padding: 20px;
}

.form-body .group + .group {
  margin-top: 60px;
}

.group {
  display: grid;
  align-items: center;
  column-gap: 20px;
  grid-template-columns: 1fr 3fr;
}

.group label {
  font-weight: 700;
  text-align: end;
  font-size: clamp(12px, 2vw, 18px);
}

.field {
  position: relative;
  font-size: clamp(8px, 2vw, 13px); 
}

.group input {
  padding: 15px 10px;
  color: black;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.guide-text {
  position: absolute;
  left: 0;
  font-style: italic;
}

.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100px;
}

.submitBtn {
  background-color: #F4CB26;
  color: #fefefe;
  border: none;
  font-weight: 800;
  padding: 10px 20px;
  font-size: 20px;
}

#tree-container {
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  bottom: 0;
  position: absolute;
  text-wrap: nowrap;
}

.tree {
  filter: drop-shadow(0 0 0 #368686);
  height: 75vh;
  width: 120vh;
}
