body {
  overflow: hidden;
  background-color: rgb(65, 153, 153);
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-password-form * {
  font-family: 'Montserrat', sans-serif;
}

.change-password-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.change-password-form {
  height: 100%;
  max-height: 510px;
  display: flex;
  flex-direction: column;
  background-color: #296D6D;
  overflow-x: auto;
}

.form-header {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-basis: 100px;  
  background-color: #226060;
}

.form-header h2 {
  font-weight: 600;
  font-size: clamp(12px, 4vw, 20px);
}

.form-body {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.form-body .group + .group {
  /* margin-top: 70px; */
}

.group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 30px;
}

.group label {
  font-weight: 700;
  flex-basis: 205px;
}

.field {
  flex: 1;
  position: relative;
  font-size: clamp(8px, 2vw, 13px); 
}

.group input {
  width: 100%;
  padding: 15px 10px;
  color: black;
  min-width: 185px;
  border-radius: 5px;
  border: none;
}

.guide-text {
  position: absolute;
  bottom: 45px;
  font-style: italic;
  padding-bottom: 7px;
}

.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100px;
  padding: 10px;
}

.submitBtn {
  background-color: #F4CB26;
  color: #fefefe;
  border: none;
  font-weight: 800;
  padding: 10px 20px;
  font-size: 20px;
}

#tree-container {
  z-index: -1;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  bottom: 0;
  position: absolute;
  text-wrap: nowrap;
}

.tree-1 {
  filter: drop-shadow(0 0 0 #0a1a1a);
  height: 75vh;
  width: 120vh;
}

.tree {
  height: 75vh;
  width: 120vh;
  filter: drop-shadow(0 0 0 #286161);
}
