body {
  background-color: #419999;
}

.select-wrapper {
  position: fixed;
  width: 17.5rem;
  z-index: 1;
  top: 76px;
  padding: 1.25rem 1.625rem;
  border-radius: 0 0 1.25rem 1.25rem;
  background-color: #419999;
}

.select-month label {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.select-month select {
  letter-spacing: 2px;
  display: block;
  font-size: 0.9375rem;
  width: 100%;
  margin-top: 0.625rem;
  padding: 0.625rem 0.625rem;
  border-radius: 1.875rem;
  border: none;
  position: relative;
  color: #EBF0EA;
}

.select-month select, .select-month option {
  color: #296D6D;
  background-color: #EBF0EA;
}

.analytics * {
  font-family: 'Montserrat', sans-serif;
}

.analytics {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 0 0.9375rem;
  row-gap: 1.25rem;
  height: 100%;
}

.statistics-wrapper, .visual-wrapper {
  width: 100%;
  height: 50%;
  background-color: #296D6D;
}

.statistics-wrapper {
  padding: 1.25rem 1.875rem;
  border-radius: 0 0 1.5625rem 1.5625rem;
  position: relative;
}

.statistics-desc {
  height: 100%;
  gap: 0.625rem; 
}

.statistics-desc .box {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  row-gap: min(1vw, 5px);
}

.box p, .visual-box p {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.875rem;
}

.box p:last-child {
  font-family: 'Spotify Black';
  font-size: 1.5625rem;
}

.visual-box p:last-child {
  font-size: 1.5625rem;
  font-family: 'Spotify Black';
}

.box {
  padding: 0.625rem 0.625rem;
  border-radius: 0.3125rem;
  border: none;
}

.box-1 {
  background-color: #4EB1CB;
}

.box-2 {
  background-color: #CF5C60;
}

.box-3 {
  background-color: #717ECD;
}

.box-4 {
  background-color: #4AB471;
}

.box-5 {
  background-color: #F4CB26;
}


.visual-wrapper {
  border-radius: 1.5625rem 1.5625rem 0 0;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-right: 10px;
}

.visual-desc {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  height: 100%;
}


.line-sizing {
  width: calc(100% - 250px);
  min-width: 300px;
  min-height: 180px;
}

.visual-box{
  margin-top: 0.9375rem;
  border-radius: 0.625rem;
  background-color: #52C8C8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.75rem;
  flex: 1 0 150px;
  max-width: 300px;
}

.coin {
  font-size: 50px;
}

.pie-sizing {
  border-color: #419999;
  border-style: solid;
  border-width: 0.75rem 0.9375rem;
  border-radius: 1.25rem;
  position: absolute;
  width: 17.5rem;
  height: 20.625rem;
  padding: 0.625rem 0;
  text-align: center;
  background-color: #296D6D;
}

.page-header {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

@media only screen and (min-width: 992px) {
  body {
    height: 100vh;
  }

  .box .desc-title {
    font-size: calc(1vh + 0.5vw);
    text-wrap: nowrap;
  }

  .box p:last-child {
    font-size: 3vh;
  }

  .statistics-desc {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 320px);
  }  

  .select-wrapper {
    right: 45px;
  }

  .visual-desc {
    width: calc(100% - 320px);
  }

  .pie-sizing {
    right: 30px;
    bottom: -200px;
  }
}

@media only screen and (max-width: 991px) {
  :root {
    font-size: 12px;
  }

  body {
    min-height: 100vh;
    min-height: 100dvh;
  }

  .statistics-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .box-1 {
    grid-column: 2 / 3;
  }

  .select-wrapper {
    left: 45px;
  }

  .statistics-wrapper {
    padding-bottom: 125px;
  }

  .visual-wrapper {
    padding-top: 125px;
  }

  .visual-desc {
    justify-content: center;
  }
  

  .pie-sizing {
    left: 50%;
    bottom: -140px;
    transform: translateX(-50%);    
  }

  .visual-wrapper {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 690px) {
  :root {
    font-size: 12px;
  }
}

@media only screen and (max-width: 540px) {
  .select-wrapper {
    width: 130px;
    left: 40px;
  }
}