body {
  background-image: url('../images/forgot-pw-bg.png');
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
}

.container {
  padding: 0 10px;
}

.password-form {
  color: #A6A6A6;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #EFF1EF;
  width: 100%;
  max-width: 600px;
}

.password-form h1, .group-wrapper, .bottom-part-3 {
  padding: 20px 30px;
}

.password-form h1 {
  background-color: #4CABAB;
  color: #EFF1EF;
  font-size: 30px;
}

.group-wrapper p {
  margin-bottom: 20px;
  font-weight: 600;
}

.form-group {
  font-weight: bold;
}

.form-group + .form-group {
  padding-top: 30px;
}


.form-control {
  margin-top: 10px;
  display: block;
  width: 100%;
  border: 2px solid #949191;
  border-radius: 10px;
  padding: 10px;
}

.bottom-part-3 {
  text-align: center;
}

.btn-save {
  background-color: #4CABAB;
  border: none;
  color: #EFF1EF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 10px;
}