body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  background-image: url('../images/forgot-pw-bg.png');
}

.form-field {
  margin: 50px 20px;
  background-color: #ffffff;
  padding-top: 5rem;
  border-radius: 1.25rem;
  border: none;
  position: relative;
  width: 100%;
  max-width: 650px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.lock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  border: 4px solid #DBDEDA;
  border-radius: 50%;
  background-color: #4CABAB;
  position: absolute;
  top: -2.1875rem;
  left: 50%;
  transform: translateX(-50%);
}

.lock-icon {
  color: #ffffff;
  font-size: 3.5rem;
}


.form-group h1{
  padding-bottom: .75rem;
  color: #226060;
  font-size: 2.5rem;
}

.form-group p {
  max-width: 570px;
  margin: auto;
  font-size: 1.125rem;
  padding-bottom: 2.7rem;
  font-weight: 600;
  color: #A6A6A6;
  padding-top: .5rem;
}


.input-wrapper + .input-wrapper {
  margin-top: 1.25rem
}

.input-wrapper {
  display: flex;
  max-width: 430px;
  width: 70%;
  margin: auto;
  justify-content: center;
  border: 2.5px solid #949191;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1.25rem
}

.icon {
  flex: 0 0 35px;
  background-color: #949191;
  color: #EFF1EF;
  padding: 5px;
  font-size: 2rem;
}

.form-control {
  border: none;
  flex: 1;
  font-weight: 600;
  padding: .9375rem .3125rem;
}

.form-border {
  border-radius: 0 .625rem .625rem 0;
}

.bottom-part {
  background-color: #DBDEDA;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 0 1.25rem 1.25rem;
  height: 60px;
  padding: .9375rem;
  column-gap: .625rem;
}

.btn, .btn-2 {
  display: inline-block;
  font-size: 1.25rem;
  padding-block: .3125rem;
  border-radius: .625rem;
  width: 7.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  text-decoration: none;
  color: #949191;
  border: 3px solid #949191;
  background-color: #EFF1EF;
}

.btn-2 {
  border: 3px solid #4CABAB;
  background-color: #4CABAB;
  color: #EFF1EF;
}

.form-field-2 {
  display: flex;
  flex-direction: column;
  background-color: #EFF1EF;
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 0 10px;
  min-height: 250px;
  max-width: 550px;
}

.form-field-2 h1 {
  padding: 20px 35px;
  flex: 0 0 30px;
  background-color: #4CABAB;
  color: #EFF1EF;
}

.submit-group {
  padding: 20px 35px;
  flex: 1;
}

.form-field-2 p {
  color:#A6A6A6;
  font-weight: 600;
  padding-bottom: 15px;
}

#verification_code {
  letter-spacing: 15px;
  display: block;
  max-width: 300px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #949191;
  border-radius: 10px;
  margin-bottom: 30px;
}

#verification_code::placeholder {
  letter-spacing: 0;
}

.bottom-part-2 {
  text-align: center;
}

.btn-3 {
  width: 100%;
  background-color: #4CABAB;
  border: none;
  color: #EFF1EF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
}

.btn-4 {
  font-size: 15px;
}

@media only screen and (max-width: 650px) {
  :root {
    font-size: 13px;
  }
}