@font-face {
  font-family: "Spotify Bold";
  src: url("../fonts/CircularSpotifyText-Bold.otf");
}

@font-face {
  font-family: "Spotify Black";
  src: url("../fonts/CircularSpotifyText-Black.otf");
}

@font-face {
  font-family: "Spotify Medium";
  src: url("../fonts/CircularSpotifyText-Medium.otf");
}

@font-face {
  font-family: "Spotify Book Italic";
  src: url("../fonts/CircularSpotifyText-BookItalic.otf");
}

* {
  font-family: 'Spotify Black';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

input, ::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body {
  padding-top: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.first-section, .second-section {
  display: flex;
}

.first-section {
  align-items: center;
  background-color: #368686;
}

.logo {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 13px;
  width: 45px;
}

.first-section h1 {
  font-size: 16px;
  letter-spacing: 3px;
}

.hide {
  display: none;
}

.second-section {
  display: grid;
}

.menu-field, .second-div, .third-div {
  padding: 5px;
  column-gap: 10px;
  align-items: center;
  display: flex;
}

.second-div p {
  color: #368686;
}

.third-div {
  justify-content: center;
}

.menu-field {
  display: flex;
  cursor: pointer;
}

.menu-toggle {
  position: absolute;
  left: -9999px;
}

i + p, .menu-text {
  margin-top: 4px;
  letter-spacing: 3px;
}

.bx, .ri-menu-3-line {
  font-size: 30px;
}

.change {
  font-size: 22px;
}

.navigation-pane {
  background-color: #226060;
  cursor: default;
  z-index: 1001;
}

.pane {
  z-index: 1001;
}

.navigation-pane-admin::before, .navigation-pane-admin::after {
  position: absolute;
  content: '';
  width: 100%;
  background-color: #F4CB26;
}

.navigation-pane-staff::before, .navigation-pane-staff::after {
  position: absolute;
  content: '';
  width: 100%;
  background-color: #4CABAB;
}

.navigation-pane::before {
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}



.wrapper {
  border: 8px solid #226060;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EBF0EA;
  margin-top: 30px;
}

.user-username, .user-role {
  filter: drop-shadow(2px 0px 0px rgb(8, 58, 58));
}

.user-username {
  font-size: 16px;
}

.user-role {
  font-style: italic;
}

.user-detail {
  display: flex;
}

.user-detail-prof {
  padding-top: 9px;
  transform: scale(3);
}

.nav-list {
  margin-top: 30px;
  background-color: #226060;

}

.nav-block, .user-redirect-dup{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  text-decoration: none;
}

.list .staff {
  padding-bottom: calc(50px * 2);
}

.invisible {
  display: none;
}

.loc {
  font-size: 18px;
}

.second-div {
  background-color: white;
}

.second-div p, .menu-home {
  color: #368686;
}

.third-div {
  position: relative;
  background-color: #4CABAB;
  cursor: pointer;
}

.user-prof-toggle {
  position: absolute;
  left: -9999px;
}

.pane {
  background-color: #296D6D;
  position: fixed;
}

.user-pane {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  column-gap: 14px;
}

.wrapper-pane {
  padding: 10px;
  border-radius: 50%;
  background-color: #EBF0EA;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-size {
  width: 60px;
  height: 60px;
}

.user-2 {
  margin-top: 15px;
  font-size: 35px;
  transform: scale(1.8);
  color: #419999;
}

.user-admin {
  color: #F4CB26;
}

.user-staff {
  color: #419999;
}

.user-pane-username, .user-pane-role {
  font-size: 12px;
}

.user-pane-role {
  font-style: italic;
}

.user-list {
  list-style-type: none;
}

.user-redirect {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 10px;
  width: 100%;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.redirect > * {
  color: rgba(255, 255, 255, 0.5)
}

.redirect-alternate {
  background-color: #226060;
}

.redirect-alternate > * {
  color: #EBF0EA;
}

.user-submit {
  position: absolute;
  left: -9999px;
}

@media only screen and (max-width: 991px) {
  .first-section {
    justify-content: center;
  }

  .menu-field {
    position: absolute;
    top: 0;
    background-color: transparent !important;
  }

  .third-div, .menu-text, .div-2, .first-section h1 {
    display: none;
  }

  .navigation-pane {
    overflow-y: auto;
    z-index: 1001;
    top: 38px;
    left: 0;
    width: 100%;
    height: calc(100% - 38px);
    position: fixed;
  }

  .user-detail {  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .user-settings {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    list-style-type: none;
  }

  .pane {
    display: none;
  }

  .user-block:hover {
    color: #52C8C8;
  }

  /* Active States */
  .nav-admin:active {
    background-color: #52C8C8;
  }

  .nav-staff:active {
    background-color: #F4CB26;
  }
  
  .nav-block:active > * {
    color: #226060;
  }

  .redirect:active {
    background-color: #EBF0EA;
  }

  .redirect:active > * {
    color: #226060;    
  }

  .redirect-alternate:active {
    background-color: #226060;
  }

  .redirect-alternate:active > * {
    color: #EBF0EA;    
  }
  
  .menu-disappear {
    display: none;
  }

  .menu-appear {
    display: flex;
  }

}

@media only screen and (min-width: 992px) {
  .second-section {
    grid-template-columns: 140px 1fr 50px;
    align-items: center;
  }

  .menu-field {
    background-color: #4CABAB;
  }

  .menu-appear {
    display: none;
  }

  .menu-disappear {
    display: flex;
  }

  .user-settings {
    display: none;
  }

  .navigation-pane {
    width: 350px;
    left: 0;
    top: 79px;
    height: calc(100% - 79px);
    position: fixed;
    overflow-y: auto;
  }

  .navigation-pane-admin::after {
    height: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .navigation-pane-staff::after {
    height: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .pane {
    top: 79px;
    right: 0;
    width: 280px;
  }

  .user-detail {
    column-gap: 5px;
  }

  .wrapper {
    margin-left: 10px;
  }

  .wrapper-2 {
    align-self: flex-end;
    padding-bottom: 8px;
  }

  /* Hover States */
  .nav-admin:hover {
    background-color: #52C8C8;
  }

  .nav-staff:hover {
    background-color: #F4CB26;
  }
  
  .nav-block:hover > * {
    color: #226060;
  }

  .redirect:hover {
    background-color: #EBF0EA;
  }

  .redirect:hover > * {
    color: #226060;    
  }

  .redirect-alternate:hover {
    background-color: #EBF0EA;
  }

  .redirect-alternate:hover > * {
    color: #226060;    
  }

}


