* {
  color: white;
}

:focus {
  outline-color: #226060;
}

body {
  padding-top: 78px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.first-section, .second-section {
  display: flex;
}

.first-section {
  align-items: center;
  background-color: #226060;
}

.logo {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 13px;
  width: 45px;
}

.first-section h1 {
  font-family: 'Cocogoose-Bold';
  font-size: 16px;
  letter-spacing: 3px;
}

.hide {
  display: none;
}

.second-section {
  display: grid;
}

.second-section > * {
  font-weight: 800;
}

.menu-field, .second-div, .third-div {
  font-size: 17px;
  padding: 5px;
  column-gap: 10px;
  display: flex;
  align-items: center;
  height: 40px;
}

.menu-field {
  justify-content: center;
  padding-right: 11px;
  cursor: pointer;
}

i + p, .menu-text {
  letter-spacing: 2px;
}

.second-div p {
  color: #368686;
}

.third-div {
  justify-content: center;
}

.menu-toggle {
  position: absolute;
  left: -9999px;
}

.bx, .ri-menu-3-line {
  font-size: 30px;
}

.div-2 i {
  transition: transform 0.3s;
}

.down {
  transform: rotate(-180deg);
}

.change {
  font-size: 22px;
}

.navigation-pane *, .pane * {
  font-family: 'Cocogoose-Regular';
}

.wrapper-2 *, .wrapper-pane-2 *{
  font-family: 'Spotify Medium';
  font-weight: normal;
  opacity: 0.8;
}

.navigation-pane, .pane {
  opacity: 0;
  pointer-events: none;
}

.navigation-pane {
  background-color: #226060;
  cursor: default;
  z-index: 1001;
  transition: opacity 0.3s, transform 0.5s;
}

.pane {
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1001;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.navigation-pane-admin::before, .navigation-pane-admin::after {
  position: absolute;
  content: '';
  width: 100%;
  background-color: #F4CB26;
}

.navigation-pane-staff::before, .navigation-pane-staff::after {
  position: absolute;
  content: '';
  width: 100%;
  background-color: #4CABAB;
}

.navigation-pane::before {
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}


.wrapper {
  border: 8px solid #226060;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EBF0EA;
  margin-top: 30px;
}

.user-username, .user-role {
  filter: drop-shadow(1.6px 1px 0px rgba(240, 241, 240, 0.4));
}

.user-username {
  font-size: 16px;
}

.user-role {
  font-style: italic;
}

.user-role, .user-pane-role {
  text-transform: capitalize;
}

.user-detail {
  display: flex;
}

.user-detail-prof {
  padding-top: 9px;
  transform: scale(3);
}

.nav-list {
  margin-top: 30px;
  background-color: #226060;

}

.nav-block, .user-redirect-dup{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  text-decoration: none;
}

.nav-block *, .nav-staff * {
  transition: color 0.3s;
}

.list .staff {
  padding-bottom: calc(50px * 2);
}

.invisible {
  display: none;
}

.loc {
  font-size: 18px;
}

.second-div {
  background-color: white;
}

.second-div p, .menu-home {
  color: #368686;
}

.third-div {
  position: relative;
  background-color: #4CABAB;
  cursor: pointer;
}

.user-prof-toggle {
  position: absolute;
  left: -9999px;
}

.pane {
  background-color: #296D6D;
  position: fixed;
}

.user-pane {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  column-gap: 14px;
}

.wrapper-pane {
  padding: 10px;
  border-radius: 50%;
  background-color: #EBF0EA;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-size {
  width: 70px;
  height: 70px;
}

.user-2 {
  margin-top: 15px;
  font-size: 35px;
  transform: scale(2.3);
  color: #419999;
}

.user-admin {
  color: #F4CB26;
}

.user-staff {
  color: #419999;
}

.user-pane-username, .user-pane-role {
  font-size: 14px;
  opacity: 0.65;
}

.user-list {
  list-style-type: none;
}

.user-redirect {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 15px 10px;
  width: 100%;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.redirect > * {
  color: rgba(255, 255, 255, 0.5)
}

.redirect-alternate {
  transition: background-color 0.3s;
  background-color: #226060;
}

.redirect-alternate > * {
  transition: color 0.3s;
  color: #EBF0EA;
}

.user-submit {
  position: absolute;
  left: -9999px;
}

@media only screen and (max-width: 991px) {
  header {
    z-index: 1001;
  }

  .first-section {
    justify-content: center;
  }

  .menu-field {
    position: absolute;
    top: 0;
    background-color: transparent !important;
  }

  
  .third-div, .menu-text, .div-2, .first-section h1 {
    display: none;
  }

  .navigation-pane {
    overflow-y: auto;
    z-index: 1001;
    top: 36px;
    left: 0;
    width: 100%;
    height: calc(100% - 36px);
    position: fixed;
  }

  .user-detail {  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .user-settings {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    list-style-type: none;
  }

  .pane {
    display: none;
  }

  .user-block:hover {
    color: #52C8C8;
  }

  /* Active States */
  .nav-block:active > * {
    color: #52C8C8;
  }

  .nav-staff:active > * {
    color: #F4CB26;
  }

  .redirect:active {
    background-color: #EBF0EA;
  }

  .redirect:active > * {
    color: #226060;    
  }

  .redirect-alternate:active {
    background-color: #EBF0EA;
  }

  .redirect-alternate:active > * {
    color: #226060;    
  }
  
  .menu-disappear {
    display: none;
  }

  .menu-appear {
    display: flex;
  }

}

@media only screen and (min-width: 992px) {
  header {
    z-index: 9999;
  }

  .second-section {
    grid-template-columns: 140px 1fr 50px;
    align-items: center;
  }

  .menu-field {
    background-color: #4CABAB;
  }

  .menu-appear {
    display: none;
  }

  .menu-disappear {
    display: flex;
  }

  .user-settings {
    display: none;
  }

  .navigation-pane, .pane {
    transform: translateY(-105%);
  }

  .show {
    transform: translateY(0);
  }

  .navigation-pane {
    width: 340px;
    left: 0;
    top: 77px;
    box-shadow: 3px 0 5px rgb(0, 0, 0, 0.5);
    height: calc(100% - 77px);
    position: fixed;
    overflow-y: auto;
  }

  .navigation-pane-admin::after {
    height: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .navigation-pane-staff::after {
    height: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .pane {
    top: 77px;
    box-shadow: -3px 2px 5px rgb(0, 0, 0, 0.5);
    right: 0;
    width: 280px;
  }

  .user-detail {
    column-gap: 5px;
  }

  .wrapper {
    margin-left: 10px;
  }

  .wrapper-2 {
    align-self: flex-end;
    padding-bottom: 8px;
  }

  /* Hover States */
  
  .nav-block:hover > * {
    color: #52C8C8;
  }

  .nav-staff:hover > * {
    color: #F4CB26;
  }

  .redirect:hover {
    background-color: #EBF0EA;
  }

  .redirect:hover > * {
    color: #226060;    
  }

  .redirect-alternate:hover {
    background-color: #EBF0EA;
  }

  .redirect-alternate:hover > * {
    color: #226060;    
  }

}