@font-face {
  font-family: 'Spotify Medium';
  src: url('../fonts/CircularSpotifyText-Medium');
}

@font-face {
  font-family: 'Spotify BookItalic';
  src: url('../fonts/CircularSpotifyText-BookItalic');
}

:root {
  ---dark-blue: #368686;
  ---blue: #4CABAB;
  ---light-blue: #0097B2;
  ---yellow: #F4D248;
}

body {
  position: relative;
  height: 100vh;
  height: 100dvh;
  padding-top: 90px;
  background-image: linear-gradient(0deg, rgba(89, 155, 63, 0.6), rgba(89, 155, 63, 0.6)), url('../images/homepage-bg.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 350px; */
}

.homepage-logo {
  text-align: center;
}

.home-logo {
  filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.6));
  margin-bottom: 10px;
  width: clamp(320px, 40vw, 420px);
}

.redirect-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 750px;
  min-height: 150px;
}

.redirect-button-1, .redirect-button-2, .redirect-button-3 {
  color: #EBF0EA;
  text-decoration: none;
  border: 4px solid #EBF0EA;
  border-radius: 30px;
  padding: 12px 45px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.redirect-button-1 {
  background-color: #E1B500;
}

.redirect-button-2 {
  background-color: #419999;
}

.redirect-button-3 {
  background-color: #226060;
}

@media only screen and (max-width: 991px) {
  .redirect-button-1:active, .redirect-button-2:active, .redirect-button-3:active {
    background-color: #ebf0ea;
  } 

  .redirect-button-1:active {
    color: #E1B500;
  }

  .redirect-button-2:active {
    color: #419999;
  }

  .redirect-button-3:active {
    color: #226060;
  }
}

@media only screen and (min-width: 992px) {
  .redirect-button-1:hover, .redirect-button-2:hover, .redirect-button-3:hover {
    background-color: #ebf0ea;
  } 

  .redirect-button-1:hover {
    color: #E1B500;
  }

  .redirect-button-2:hover {
    color: #419999;
  }

  .redirect-button-3:hover {
    color: #226060;
  }
}