@font-face {
  font-family: 'Spotify Medium';
  src: url('../fonts/CircularSpotifyText-Medium');
}

@font-face {
  font-family: 'Spotify BookItalic';
  src: url('../fonts/CircularSpotifyText-BookItalic');
}

body {
  display: flex;
  position: relative;
  padding-top: 90px;
  background-color: #2D7474;
  /* padding-left: 350px; */
}

.desc-content {
  padding: min(10vw, 50px);
  padding-bottom: 0;
  padding-bottom: 20px;
}

.image-wrapper {
  padding-left: 10px;
}

.home-logo {
  width: 100px;
}

.desc-content h1 {
  font-style: italic;
  font-size: clamp(20px, 7vw, 32px);
}

.desc-content p {
  padding-top: 10px;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 600;
}

.redirect-button {
  margin-top: min(5%, 20px);
  display: inline-block;
  max-width: 320px;
  width: 80%;
  text-align: center;
  background-color: #2D7474;
  color: #EBF0EA;
  font-size: clamp(11.5px, 3vw, 16px);
  text-decoration: none;
  border: 4px solid #EBF0EA;
  border-radius: 30px;
  padding: 12px 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.homepage-images {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  padding: 20px;
  padding-right: 0;
}

.resort-image {
  overflow: hidden;
  border: 20px solid #2D7474;
  width: 100%;
  height: 80%;
  border-radius: 300px 0 0 300px;
  border-right: none;
  object-fit: cover;
}

.border-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.yellow-border {
  position: absolute;
  background-color: #F4D248;
  clip-path: polygon(22% 0, 100% 0%, 100% 100%, 77% 100%);
}

.blue-border {
  position: absolute;
  background-color: #4CABAB;
  clip-path: polygon(40% 0, 20% 100%, 100% 100%);
}

@media only screen and (max-width: 991px) {
  .redirect-button:active {
    background-color: #4CABAB;
  }

  body {
    min-height: 100vh;
    min-height: 100dvh;
    flex-direction: column;
  }

  .resort-image {
    max-height: 500px;
  }

  .image-wrapper {
    float: right;
  }

  .yellow-border {
    /* transform: rotate(90deg); */
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    bottom: 0;
    right: 0;
    top: 40%;
    width: 60%;
  }

  .blue-border {
  bottom: 0;
  height: 25%;
  width: 80%;
  bottom: 0;
  clip-path: polygon(0 1%, 68% 17%, 45% 100%, 0 100%);

  }

}

@media only screen and (min-width: 992px) {
  .redirect-button:hover {
    background-color: #4CABAB;
  }

  body {
    height: 100vh;
    height: 100dvh;
  }

  .desc-content {
    flex: 0 1 550px;
  }

  .redirect-button {
    min-width: 250px;
  }

  .resort-image {
    max-height: 900px;
    min-width: 600px;
  }

 .yellow-border {
  height: 100%;
  width: 70%;
  right: 0;
  bottom: 0;
 }

 .blue-border {
  height: 45%;
  width: 35%;
  bottom: 0;
  right: 18%;
 }

}