body {
  background-color: #419999;
}

.select-month {
  margin-bottom: 20px;
  background-color: #226060;
  padding: 10px 20px;
  position: fixed;
  top: 79px;
  z-index: 10;
}

table {
  width: 95%;
  margin: 0 auto;
  margin-top: 80px;
  border-collapse: collapse;
  border: 3px solid #226060;
}

.child td span {
  height: 50px;
}

th {
  padding: 10px 10px;
  font-weight: 500;
  background-color: #226060;
}

.child td:first-child {
  color: white;
  font-weight: bold;
  background-color: #226060; 
}

.child td {
  /* text-wrap: nowrap; */
  text-align: left;
}

.child td * {
  font-size: 14px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;   
}

td {
  text-wrap: wrap;
  padding: 6px 10px;
  text-align: center;
  font-size: 14px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #FFFFFF;
}

.row td {
  border: 3px solid #226060;
}

select {
  border: 2px solid #368686;
  background-color: #EBF0EA;
  color: #737373;
  font-style: italic;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

option {
  border: 2px solid #368686;
  background-color: #EBF0EA;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #737373;
}


.id {
  font-weight: bold;
}

.btn {
  margin-bottom: 2px;
  margin-right: 2px;
  padding-top: 3px;
  padding-left: 1px;
  vertical-align: middle;
  font-size: 15px;
  width: 20px;
  height: 20px;
  background-color: #E1B500;
  border-radius: 50%;
  border: none;
}

.id span {
  vertical-align: middle;
  display: inline-block;
  width: 10px;
  color: black;
}

.minimize {
  background-color: #FF0007;
}

.name {
  text-align: start;
}

.email {
  width: 15%;
}

.name, .email, .child td {
  word-break: break-all;
}

.hidden {
  display: none;
}

/* No reservation css */
.no-reservation-page {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  align-items: center;
}

.no-reservation-content {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: grid;
  place-items: center;
  text-align: center;
}

.no-reservation-content * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.no-reservation-content h1, .no-reservation-content p {
  color: #296D6D;
}

.no-reservation-content h1 {
  text-wrap: nowrap;
  font-size: clamp(24px, 5vw, 40px);
  padding-bottom: 15px;
}

.no-reservation-content p {
  font-weight: 700;
  max-width: 480px;
  font-size: clamp(14px, 2vw, 22px);
  padding-bottom: 22px;
}

.no-reservation {
  width: clamp(300px, 90vw, 550px);
}

.reserve-now {
  display: inline-block;
  text-decoration: none;
  font-size: clamp(14px, 4vw, 25px);
  background-color: #E1B500;
  border: 4px solid white;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 900;
  transition: background-color 0.05,
          color 1s;
}



@media only screen and (min-width: 992px) {
  .id {
    text-align: end;
  }

  .name {
    width: 15%;
  }

  .time {
    width: 10%;
  }

  .child {
    display: none;
  }

  .show {
    display: none;
  }

  .reserve-now:hover {
    color: #E1B500;
    background-color: #EBF0EA;
  }
}


@media only screen and (max-width: 991px) {
  .tablet {
    display: none;
  }
/* 
  .select-month {
    left: 20px;
    right: 0;
    position: absolute;
  } */
  .reserve-now:hover {
    color: #E1B500;
    background-color: #EBF0EA;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slot {
    display: none;
  }  

  .filler {
    display: none;
  }

  .name {
    width: 50%;
  }

  th:first-child, td:first-child {
    width: 60px;
  }
}


@media only screen and (max-width: 767px) {
  .mobile {
    display: none;
  }
  .name {
    width: 50%;
  }

  th:first-child, td:first-child {
    width: 60px;
  }
}

td .fully-paid {
  color: #226060;
  font-size: 25px;
}

td .pending {
  color: #737373;
  font-size: 25px;
}