
.reservation-details-form {
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #EBF0EA;
  width: 90%;
  max-width: 700px;
}

.exit-btn {
  transition: background-color 0.3s;
}

.exit-pos {
  position:absolute;
  right: 0;
  top: 0;
}

.exit-pos .exit-icon {
  color: #A4A0A0;
  transition: color 0.3s;
}

.details-header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.icon-wrapper {
  display: inline-block;
  border-radius: 50%; 
  border: 10px solid #D6DFD5;
  box-shadow: inset 0 0 0 18px #D6DFD5;
  margin-bottom: 10px;
}

.ri-verified-badge-fill {
  color: #419999;
  font-size: 80px;
}

.details-header h1 {
  color: #226060;
  font-size: clamp(25px, 4vw, 32px);
  padding: 0 5px;
  padding-bottom: 5px;
}

.details-header p {
  color: #A4A0A0;
  font-style: italic;
  font-weight: 600;
  padding: 0 5px;
  padding-bottom: 10px;
}

.details {
  position: relative;
  display: grid;
  background-color: #DFE8DE;
  padding: 20px 30px;
  column-gap: 40px;
  row-gap: 30px;
}

.detail-group p:first-child {
  padding-bottom: 5px;
  font-weight: 700;
}



.details p {
  color: #A4A0A0;
  font-weight: 600;
}

.details-footer {
  padding: 20px;
  text-align: center;
}

.right-details {
  padding-left: 15px;
}

.ok-btn {
  min-width: 120px;
  font-weight: 800;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  background-color: #368686;
  transition: background-color 0.2s;
}

@media only screen and (min-width: 500px) {
  .details {
    grid-template-columns: 1fr 1fr;
  }

  .details::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 90%;
    background-color: #949191;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*Responsiveness*/
@media only screen and (min-width: 992px) {
  .exit-btn:hover {
    background-color: #E7191F;
  }

  .exit-btn:hover .exit-icon {
    color: #EBF0EA;
  }

  .ok-btn:hover {
    background-color: #226060;
  }
}