body {
  background-color: #419999;
}

.form-wrapper {
  padding: 10px 15px 30px;
}

.addStaff {
  background-color: #296D6D;
  border-radius: 0 0 10px 10px;
  width: 100%;
  margin: auto;
  gap: 15px;

}

.form-group label {
  text-wrap: nowrap;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.form-group input {
  font-size: 14px;
  margin-top: 5px;
  color: black;
  width: 100%;
  padding: 10px 10px;
}

.addStaff-submit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  cursor: pointer;
  font-size: 20px;
  background-color: #4CABAB;
  border: none;
  padding: 10px 30px;
  transition: background-color 0.05s,
    color 0.05s;
}

.list-title {
  padding: 0 0 20px;
  display: flex;
  align-items: center;
}

.list-title h2 {
  flex-basis: 180px;
  color: #2D7474;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.line {
  flex: 1;
  border: 3px solid #2D7474;
  color: #2D7474;
  display: inline-block;
}

.staff-list {
  padding: 0 15px;
}

.staff-card {
  height: 120px;
  display: flex;
  background-color: #2D7474;
  overflow: hidden;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin-bottom: 15px;
  overflow-x: auto;
}

p {
  color: #EBF0EA;
}

.staff-card h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #D0DFCE;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 70px;
  font-size: 25px;
  height: 100%;
  background-color:#368686;
}

.staff-info {
  flex: 1;
  display: flex;
  column-gap: 15px;
  justify-content: space-between;   
  align-items: center;
  padding: 10px 15px 10px 25px;
}

.list-prof {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.staff-size {
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
}

.icon-staff-size {
  font-size: 50px !important;
}

.username-staff {
  font-weight: 700;
  font-style: italic;
}

.delete-button {
  background-color: #226060;
  border: none;
  padding: clamp(16px, 2vw, 24px);
  border-radius: 50%;
}

i.bxs-trash {
  font-size: clamp(25px, 2vw, 30px);
}


@media only screen and (min-width: 992px) {
  .addStaff {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
  }

  .addStaff {
    padding: 40px 20px 20px;
  }

  .addStaff-submit {
    margin-top: 45px;

  }

  .addStaff-submit:hover {
    color: #4CABAB;
    background-color: #EBF0EA;
  }

  .addStaff-container {
    display: flex;
    justify-content: flex-end;
  }

  .delete-button:hover {
    background-color: #E7191F;
  }
}

@media only screen and (max-width: 991px) {
  .form-group input {
    font-size: 12px;
  }
  
  .addStaff {
    padding: 20px;
  }

  .addStaff-submit:active {
    color: #4CABAB;
    background-color: #EBF0EA;
  }

  .addStaff-submit {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .icon-staff-size {
    font-size: 30px !important;
  }

  .staff-size {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
  }
  .staff-info{
    font-size: 11px;
  }

}
