body {
  background-color: #419999;
  position: relative;
}

.form-wrapper {
  padding: 10px 15px 30px;
}

.addStaff {
  background-color: #296D6D;
  border-radius: 0 0 10px 10px;
  width: 100%;
  margin: auto;
}

.field-wrapper {
  display: grid;
  gap: 20px;
}

.form-group label {
  text-wrap: nowrap;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.form-group input {
  font-size: 14px;
  margin-top: 5px;
  color: black;
  width: 100%;
  padding: 10px 10px;
}

.addStaff-container {
  display: flex;
  justify-content: flex-end;
}

.addStaff-submit {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  cursor: pointer;
  font-size: 20px;
  background-color: #4CABAB;
  border: none;
  padding: 10px 30px;
  transition: background-color 0.2s,
    color 0.2s;
}

.list-title {
  padding: 0 0 20px;
  display: flex;
  align-items: center;
}

.list-title h2 {
  flex-basis: 180px;
  color: #2D7474;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.line {
  flex: 1;
  border: 3px solid #2D7474;
  color: #2D7474;
  display: inline-block;
}

.staff-list {
  padding: 0 15px;
}

.staff-card {
  display: flex;
  background-color: #2D7474;
  overflow: hidden;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin-bottom: 15px;
  overflow-x: auto;
}

.staff-list p {
  color: #EBF0EA;
}

.staff-card h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #D0DFCE;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 70px;
  font-size: 25px;
  background-color:#368686;
}

.staff-info {
  flex: 1;
  display: flex;
  column-gap: 15px;
  justify-content: space-between;   
  align-items: center;
  padding: 18px 15px 18px 25px;
}

.info * {
  font-size: clamp(16px, 3vw, 20px);
  font-weight: bold;
  filter: drop-shadow(1.6px 1px 0px rgba(240, 241, 240, 0.4));
}

.username-staff {
  font-weight: 600;
  font-style: italic;
}


.list-prof {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.staff-size {
  flex: 0 0 auto;
  width: clamp(50px, 15vw, 80px);
  height: clamp(50px, 15vw, 80px);
}

.icon-staff-size {
  font-size: clamp(18px, 10vw, 45px) !important;
}

.delete-button {
  background-color: #226060;
  border: none;
  padding: clamp(10px, 2vw, 15px);
  border-radius: 50%;
  transition: background-color 0.25s;
}

i.bxs-trash {
  font-size: clamp(25px, 6vw, 40px);
}


@media only screen and (min-width: 992px) {
  .field-wrapper {
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
    row-gap: 40px;
  }

  .addStaff {
    padding: 40px 20px 20px;
  }

  .addStaff-submit {
    margin-top: 40px;
  }

  .addStaff-submit:hover {
    color: #4CABAB;
    background-color: #EBF0EA;
  }

  .delete-button:hover {
    background-color: #E7191F;
  }
}

@media only screen and (max-width: 991px) {
  .form-group input {
    font-size: 12px;
  }
  
  .addStaff {
    padding: 20px;
  }


  .addStaff-submit:active {
    color: #4CABAB;
    background-color: #EBF0EA;
  }


}


.error-message {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-between; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-bottom: 10px solid #B6050A;
}